{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #a19c9c;
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;



    }

    container {
        background: rgb(210, 201, 201);
        display: inline padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    button {
        background-color: #28a745;
        color: white;
        border: none;
        padding: 10px 40px;
        border-radius: 90px;
        cursor: pointer;
        font-size: 16px;
    }

    button:hover {
        background-color: #218838;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
